<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
<!--connectionString="Data Source=.\Database1.sdf;Encrypt Database=True;Persist Security Info=False"-->  

  <connectionStrings>
    <add name="Database1ConnectionString" connectionString="Data Source=.\Database1.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="AnSe.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=|DataDirectory|\Database1.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="AnSe.Properties.Settings.DataBase1ConnectionString1"
      connectionString="Data Source=PIER_PAOLO\SQLEXPRESS;Initial Catalog=DataBase1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>